body {
	background-image: url(http://media-minecraftforum.cursecdn.com/attachments/85/82/635597636841825005.jpg);
	font-family: BigNoodleTitling;
}
#Logo {
	position: absolute;
    	top: 3%;
  	left: 45%;
}
#Forums {
	position: absolute;
    	top: 45%;
  	left: 60%;

}
#ForumsName {
	position: absolute;
    	top: 62.5%;
  	left: 63%;

}
#Store {
	position: absolute;
    	top: 45%;
  	left: 30%;

}
#StoreName {
	position: absolute;
    	top: 57%;
  	left: 35%;

}
#Footer {
	position: absolute;
    	top: 75%;
  	left: 44%;
}